.nav-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(243, 243, 243);
  }
  
  @media screen and (max-width: 768px) {
    .nav-header {
      flex-direction: column;
      align-items: center;
      border-bottom-style: none;
    }
  }
  
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1110px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media screen and (max-width: 768px) {
    .nav-content {
      flex-direction: column;
    }
  }
  
  .nav-bar-mobile-logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .nav-bar-mobile-logo-container {
      display: none;
    }
  }
  
  .nav-bar-large-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
  }
  
  @media screen and (max-width: 767px) {
    .nav-bar-large-container {
      display: none;
    }
  }
  
  .website-logo {
    width: 110px;
  }
  
  @media screen and (min-width: 768px) {
    .website-logo {
      width: 80px;
      
    }
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  @media screen and (max-width: 767px) {
    .nav-menu {
      display: none;
    }
  }
  .nav-menu-mobile {
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .nav-menu-mobile {
      display: none;
    }
  }
  
  .nav-menu-list-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #e6f6ff;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  .nav-menu-item {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-size: 16px;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #475569;
  }
  
  .nav-menu-item-mobile {
    margin: 0px;
    cursor: pointer;
  }
  
  .logout-desktop-btn {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 10px;
    padding: 8px 16px;
    color: #ffffff;
    background-color: #0967d2;
    border: none;
    border-radius: 4px;
    margin-left: 14px;
    cursor: pointer;
    outline: none;
  }
  
  @media screen and (max-width: 767px) {
    .logout-desktop-btn {
      display: none;
    }
  }
  .nav-mobile-btn-container {
    display: flex;
    justify-content: center;
    width: 25%;
  }
  
  .nav-mobile-btn {
    border: none;
    padding: 0px;
    background: transparent;
    cursor: pointer;
    outline: none;
  }
  
  @media screen and (min-width: 768px) {
    .nav-mobile-btn {
      display: none;
    }
  }
  
  .nav-bar-image {
    width: 24px;
  }
  
  .cart-count-badge {
    background-color: #bfdbfe;
    color: #0967d2;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-left: 8px;
  }
  
  @media screen and (min-width: 768px) {
    .cart-count-badge {
      background-color: #e6f6ff;
    }
  }
  